@import "tailwindcss";

:root {
  --color-primary: #A9B5DF; /* default (light theme) */
  --color-secondary:var(--color-purple-500);
  --color-tertiary:#2D336B;
  --color-background: #11071f;
  --color-text: #b1b0b0;
  --color-text_secondary: #0e0e0f;
}

.dark {
  --color-primary: #f59e0b; 
  --color-secondary:var(--color-purple-500);
  --color-tertiary:#2D336B;
  --color-background: #222831;
  --color-text: #EEEEEE;
  --color-text_secondary: #b1b0b0;
}

@theme{
  --color-primary: var(--color-primary);
  --color-background: var(--color-background);
  --color-text: var(--color-text);
  --color-secondary: var(--color-purple-500);
  --color-tertiary: var(--color-tertiary);
  --color-text_secondary: var(--color-text_secondary)
}

@keyframes wordFade {
  from {
    opacity: 0;

  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-word-fade {
  animation: wordFade 0.5s ease forwards;
  opacity: 0;
}

body{
  background: var(--color-background);
}